<main>

    <article id="about">
        <h1>Om Uppgiften</h1>
        <p>
            Denna webbsida har tagits fram med Angular-ramverket som en del av kursen DT208G Programmering i TypeScript.
            För varje sida har komponenter skapats, inklusive en header, footer och två konverteringsfunktioner.
            Navigationen hanteras smidigt med Angulars router-modul. Logotypen använder Angular Property binding och
            konverteringsmodulerna utnyttjar Two-way data binding för att fungera korrekt.

            Detta projekt markerar min första erfarenhet med Angular specifikt och ramverk i allmänhet inom
            webbutveckling. Det har varit en blandning av lättnad och nya utmaningar, särskilt när det gäller styling
            med CSS. Att placera en komponent inuti en annan, till exempel en header på en undersida, kräver
            uppmärksamhet på både headerens och undersidans CSS-filer för att justera positionen på headern. Trots det
            har möjligheten att strukturera koden i separata komponenter och sätta ihop dem som ett pussel varit en
            enorm hjälp.

            Sammanfattningsvis är jag mycket positiv till Angular och ser fram emot att utforska det ytterligare. Det
            känns som att jag närmar mig en mer professionell nivå av webbutveckling nu när jag börjat använda ramverk
            som Angular.
        </p>
    </article>

</main>