<main>
    <h1>Konvertera enheter</h1>

    <!-- Meter och fot -->
    <div id="length">
        <h1>Meter och Fot</h1>

        <label for="meter">Meter: </label>
        <input type="number" name="meter" id="meter" [(ngModel)]="meter" (input)="metToFot()"><br>

        <label for="fot">Fot: </label>
        <input type="number" name="fot" id="fot" [(ngModel)]="fot" (input)="fotToMet()"><br>

    </div>

    <!--  Celcius och fahrenheit -->
    <div id="temperature">
        <h1>Celcius och Fahrenheit</h1>
        <label for="celcius">Celcius: </label>
        <input type="number" name="celcius" id="celcius" [(ngModel)]="celcius" (input)="celToFar()"><br>

        <label for="fahrenheit">Fahrenheit: </label>
        <input type="number" name="fahrenheit" id="fahrenheit" [(ngModel)]="fahrenheit" (input)="farToCel()"> <br>

        

    </div>


</main>