<main>
    <div id="imageContainer">
        <img id="spelarbild" style="position: relative;" ngSrc="./assets/pictures/spelarbild.jpg" alt="spelarbild" fill="imageContainer">
    </div>

    <article>
        <h1>Presentation om mig</h1>
        <p>
            Mitt namn är Melvin och jag är 20 år gammal. Jag är uppvuxen i en förort utanför Stockholm och har bott på samma ställe i hela mitt liv, tills senaste sommaren. 
            Då valde jag att flytta tll Västerås för att spela handboll. Vi splelar i allsvenskan och är ett väldigt ungt lag vilket gör det kul att spela här. 
            Jag valde att börja plugga nu när jag spelar handboll för att jag hade fått höra att det är ett bra sätt att kombinera elitidrott och studier. 
        </p>
        <p>
            Anledingen till att jag valde att plugga webbutveckling var för att en kollega som jag hade på mitt förra jobb introducerade det för mig. Det var något som han tyckte var roligt
            och vi pratade en del om det. Efter ett tag så valde jag att prova att programmera hemma och tyckte det var roligt. Det kändes då som när jag hade bestämt mig för att plugga 
            som ett relativt enkelt val. Det var roligt och det verkade som attt det finns mycket möjligheter till jobb vilket gjorde att valet föll på just webbutveckling.
        </p>
    </article>
</main>