@use '../../styles'; // Inkludera styles.scss

main {
    @include styles.center-element;

    article {
        @include styles.center-element;
        width: 50%;
    }

}

#imageContainer {
    max-width: 20%;
    height: 50%;

}

#spelarbild {
    object-fit: contain;
    width: 100%;
    height: 100%;
}